@charset "UTF-8";
    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100vh;
    overflow: hidden;
}
body {
    background-color: #FFBDBD;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    padding: 0.2em;
}
/* copiar na media query de celular */
main{
    
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    padding: 0.2em;
}
footer {
  width: 100%;
  display: flex;
  justify-content: center;
}
.login-card {
  width: 90%;
  max-width: 380px;
  height: fit-content;
  background: rgba(255, 255, 255, 0.45);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.08);
  padding: 23px 25px;
  margin-top: 1px;
  margin: auto;

}
.login-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
/* Top-area section */
.top-area{
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
}
.top-area img{
    width: 175px;
}
.top-area h1{
    font-family: "Lora", serif;
    font-weight: lighter;
    padding-top: 0.20em;
}
.top-area h2{
    font-weight: lighter;
    font-family: "Lora", serif;
    padding-top: 0.4em;
}
/* Email section */
.email-section{
    padding-top: 0.8em;
    width: 100%;
    max-width: 280px;
}
.email-section fieldset{
    background-color: #FFFFFF;
    border: 1.5px solid #707070;
    border-radius: 24px;
    padding: 8px 16px;
    width: 100%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.email-section input{
    border: none;
    outline: none;
    font-family: "Inter", sans-serif;
} 
.email-section span{
    font-family: "Inter", sans-serif;
    padding-left: 20px;
    color: #3E2B2B;
    font-weight: 650;
}
.email-section img{
    width: 15px;
}
/*Password section*/
.password-section{
    padding-top: 0.4em;
    width: 100%;
    max-width: 280px;
}
.password-section fieldset{
    background-color: #FFFFFF;
    border: 1.5px solid #707070;
    border-radius: 24px;
    padding: 8px 16px;
    width: 100%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.password-section input{
    border: none;
    outline: none;
    font-family: "Inter", sans-serif;
}
.password-section span{
    font-family: "Inter", sans-serif;
    padding-left: 20px;
    color: #3E2B2B;
    font-weight: 650;
}
.lock{
    width: 15px;
}
.eye{
    margin-left: auto;
    cursor: pointer;
}
.forgot-password{
    margin-left: 165px;
    color: #000000;
    width: 100%;
    font-size: 0.70em;
    color: #312424;
    font-weight: 900;
    font-family: "Inter", sans-serif;
}
/* Login area */
.login-area{
    display: flex;
    flex-flow: column;
    width: 100%;
    max-width: 275px;
    align-items: center;
    gap: 1.5px;
    margin-top: 10px;
}
.login-button{
  border: 1px solid #707070;
  outline: none;
  cursor: pointer;
  width: 100%;
  padding: 8px 56px;
  background-color: #3D2929; 
  color: #FFFFFF;
  border-radius: 16px;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.continue{
    font-family: "Inter", sans-serif;
    font-size: 0.85em;
    color: #3F2C2C;
    font-weight: 800;
    text-align: center;   
}
.google-button{
  border: 1.5px solid #707070;
  outline: none;
  cursor: pointer;
  padding: 8px 33px;
  background-color: #FFFFFF; 
  color: #818491;
  border-radius: 12px;
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.facebook-button{
  border: 1.5px solid #707070;
  outline: none;
  cursor: pointer;
  padding: 8px 26px;
  background-color: #FFFFFF; 
  color: #818491;
  border-radius: 12px;
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.img-google{
    width: 14px;
    margin-right: 3px;
}
.img-facebook{
    width: 7px;
    margin-right: 3px;
}
.question{
    color: #312424;
    font-weight: 800;
    font-family: "Inter", sans-serif;
    font-size: 0.68rem;
}
.register{
    color: #1212FF;
    font-size: 0.70rem;
    font-family: "Inter", sans-serif;
}
.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5px;
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
}
.footer-content a {
  color: #3D2929;
  font-weight: 600;
  text-decoration: underline;
}

